@font-face {
  font-family: 'iconfont';  /* project id 1408087 */
  src: url('//at.alicdn.com/t/font_1408087_azq4xkmdh9f.eot');
  src: url('//at.alicdn.com/t/font_1408087_azq4xkmdh9f.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1408087_azq4xkmdh9f.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1408087_azq4xkmdh9f.woff') format('woff'),
  url('//at.alicdn.com/t/font_1408087_azq4xkmdh9f.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1408087_azq4xkmdh9f.svg#iconfont') format('svg');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  .icon{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


