@charset "utf-8";
/* CSS Document */

.tea_news { float:left; width:285px; margin-right:20px; background:#fff; margin-top:20px; display:inline;}
.newcomments { float:left; margin-right:20px; width:590px; margin-top:20px; display:inline;}
.tea_wikipedia { float:left; width:285px; margin-top:20px;}

.tea_news .tea_news_t, .tea_wikipedia .tea_wikipedia_t { background:#f5f5f5; padding-bottom:10px; height:29px; line-height:29px;border-bottom:1px solid #f0f0f0;}
.tea_news .tea_news_t h1, .tea_wikipedia .tea_wikipedia_t h1{ float:left;}
.tea_news .tea_news_t span a,  .tea_wikipedia .tea_wikipedia_t span a{ float:right; color:#b0352f;}
.tea_news .tea_news_b a{ position:relative; border-bottom:1px solid #f0f0f0; display:block; height:29px; overflow:hidden;}
.tea_news .tea_news_b a:after{ clear:both; content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.tea_news .tea_news_b a i { background:url("rand_num10.png")/*tpa=http://www.tea7.com/images/rand_num10.png*/ no-repeat; width:14px; height:14px; margin:9px 10px 0 10px; display:blockl; float:left;}
.tea_news .tea_news_b a i.nob1 { background-position:0px 0px;}
.tea_news .tea_news_b a i.nob2 { background-position:0px -29px;}
.tea_news .tea_news_b a i.nob3 { background-position:0px -58px;}
.tea_news .tea_news_b a i.nob4 { background-position:0px -87px;}
.tea_news .tea_news_b a i.nob5 { background-position:0px -116px;}
.tea_news .tea_news_b a i.nob6 { background-position:0px -145px;}
.tea_news .tea_news_b a i.nob7 { background-position:0px -174px;}
.tea_news .tea_news_b a i.nob8 { background-position:0px -203px;}
.tea_news .tea_news_b a i.nob9 { background-position:0px -232px;}
.tea_news .tea_news_b a i.nob10 { background-position:0px -261px;}
.tea_news .tea_news_b a span { float:left; width:240px; font-size:14px; padding-right:10px; margin-top:5px;}
.tea_news .tea_news_b a div.tea_news_con { width:265px; height:80px; border-bottom:1px solid #f0f0f0; overflow:hidden; position:absolute; top:0; opacity:0; display:none\9; background:#fff;transition: all .3s; padding:10px; z-index:999;box-shadow:0 3px 10px #f0f0f0;  }
.tea_news .tea_news_b a div.tea_news_con img { width:80px; height:80px; float:left; margin-right:10px;}
.tea_news .tea_news_b a:hover { overflow:visible;}
.tea_news .tea_news_b a:hover div.tea_news_con { opacity:1; display:inherit\9; top:29px\9; padding-top:10px;  color:#999; transform:translateY(30px);}
.tea_news .tea_news_b a div.tea_news_con p { float:left; width:175px; height:80px; overflow:hidden; }
.tea_news .tea_news_b a div.tea_news_con:last-of-type { top:-5px;}



.newcomments .newcomments_t { background:#f5f5f5; padding-bottom:10px; height:30px; line-height:30px;}
.newcomments_t h1{ float:left;}
.newcomments_t span { float:right;}
.newcomments_t span .tab-T-3{width:66px; margin-top:10px;}
.newcomments_t span .tab-T-3 li{width:12px;height:12px;font-size:0;background-color:#dfdfdf;float:left;margin-left:10px;cursor:pointer;display:inline;}
.newcomments_t span .tab-T-3 li.cur{background-color:#b0352f;}
.rowE { height:279px; width:570px; overflow:hidden; padding:10px; background:#fff;border-bottom: 1px solid #f0f0f0;}
.rowE .warp-pic-list li{float:left;display:inline;}
.rowE .warp-pic-list .img_wrap{display:block;font-size:0;overflow:hidden;}
.rowE .warp-pic-list .text-area{background-color:#fff;line-height:24px;}
.rowE .warp-pic-list{position:relative;width:570px;height:280px;overflow:hidden;}
.rowE .count li{margin:0px 15px 0 0;width:180px;height:300px;}
.rowE .count a img { width: 180px; height:180px;}
.rowE .count li .text-area{ height:110px;}
.rowE .count li .text-area em { color:#b0352f;}
.rowE .count li .text-area p{line-height:18px;height:18px; color:#999;}
.rowE .count li .text-area span { color:#b0352f; font-size:14px; width:180px;line-height:20px;height:20px; display:block;}
.rowE .count .p-num{font-family:"Tahoma";font-weight:bold;}
.rowE .icon{background:url("newcomments_icon.png")/*tpa=http://www.tea7.com/images/newcomments_icon.png*/ no-repeat 0 0;}
.rowE .warp-pic-list > a{display:block;height:55px;position:absolute;width:35px; top:100px;z-index:200;cursor:pointer;transition: all .3s;opacity:0;}
.rowE .warp-pic-list:hover > a {opacity:1;}
.rowE .warp-pic-list:hover a.newcomments_prev{ width:35px; height:55px; display:block; background-position:0 -88px; left:0;}
.rowE .warp-pic-list:hover a.newcomments_prev:hover{background-position:0 -144px; opacity:1;}
.rowE .warp-pic-list:hover a.newcomments_next{ width:35px; height:55px; display:block; background-position:0 -200px;right:0;}
.rowE .warp-pic-list:hover a.newcomments_next:hover{background-position:0 -256px; opacity:1;}
.rowE .warp-pic-list .ping_star, .rowE .warp-pic-list .ping_star i { background: url("star-small.png")/*tpa=http://tea7.com/images/star-small.png*/  repeat-x; display: inline-block; height: 12px;}
.rowE .warp-pic-list .ping_star { width: 66px; overflow: hidden; text-align: left;}
.rowE .warp-pic-list .ping_star i { width: 0; overflow: hidden; background-position: 0 -21px; vertical-align: top; }



.tea_wikipedia .tea_wikipedia_b { background:#fff;border-bottom: 1px solid #f0f0f0;}
.tea_wikipedia .tea_wikipedia_b ul{ padding:0 10px; height:300px;}
.tea_wikipedia .tea_wikipedia_b ul li{ overflow: hidden; font-size:14px; height:36px; line-height:36px;border-bottom: 1px dotted #f0f0f0;}
.tea_wikipedia .tea_wikipedia_b ul li:last-of-type { height:36px; line-height:36px;border-bottom:0px;}
.tea_wikipedia .tea_wikipedia_b a{ width:265px; height:36px; line-height:36px;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}




/*==列表页 st===========================*/
.teanewsbox { float:left; background:#fff; width:900px; margin-right:20px; display:inline; }

.teanewnav { float:left; width:200px; background-color: #fff}
.teanewnav h1 { margin:20px 14px; width:172px; border-bottom:2px #b0352f solid; letter-spacing:3px;}
.teanewnav h1 span { font-size:14px; color:#999; font-weight:normal; margin-left:5px;letter-spacing:0px;}
.teanewnav ul { padding-left:1px;}
.teanewnav ul li { line-height:24px; padding:8px 0px 8px 20px; font-size:14px;}
.teanewnav ul li i { margin-right:10px; color:#999}
.teanewnav ul li:hover, .teanewnav ul li.action {  background:#f5f5f5; border-right:3px solid #b0352f;}
.teanewnav ul li.action a {color:#b0352f;}

.teanewsbox .teanewsbox_tit {font-size: 18px; line-height: 24px; height: auto;  color: #333; text-align: center; clear: both; overflow: hidden;  margin-top: 25px; padding: 0px 10px;}
.teanewsbox .teanewsbox_sub {text-align: center; font-family: "宋体"; color: #999;  line-height: 45px;  clear: both; overflow: hidden; border-bottom:1px #f0f0f0 solid; margin-bottom:30px;}
.teanewsbox .teanewsbox_con { padding:0 20px 40px 20px; min-height:556px;}
.teanewsbox .teanewsbox_con p{ font-size:1.3em; line-height:1.8em; padding-bottom:24px;}
.teanewsbox .teanewsbox_con p img { max-width: 860px;}
.teanewsbox .teanewsbox_con .plink{ font-size:16px; margin:30px 0px 0px 0px; text-align:center;}
.teanewsbox .teanewsbox_con .plink a{color:black;}
.teanewsbox .teanewsbox_con .plink span{color:gray;}
.teanewsbox .teanewsbox_con a { text-decoration: underline;}
.teanewsbox .back_list { width:100%; height:40px; line-height:40px; font-size:12px; border-top:1px #f0f0f0 solid; text-align:center; color:#999; display:block;}
.teanewsbox .back_list a { margin:5px 10px; padding:5px;}
.teanewsbox .back_list a:hover{ color:#b0352f;}
.c_tit2 { line-height: 38px; height: 38px; width: 100%; background-color: #fff; border-bottom: 1px solid #f0f0f0; }
.c_tit2 span { border-bottom:2px #b0352f solid; text-align:left; padding: 0px 20px 8px 20px; line-height:38px; overflow: hidden; position: relative; font-size: 16px;  color: #444;}

.article_lists{ width:699px; min-height:1415px; float:right; overflow:hidden; border-left:1px #dedede solid;}
.article_lists li{padding:18px;overflow:hidden; background:#F9F9F9;}
.article_lists li:nth-child(even),
.article_lists li:hover{background-color:#fff;}
.article_lists li .thumb{width:150px;height:113px;float:left;overflow:hidden;padding-right:20px;}
.article_lists li .thumb img{width:150px;height:113px;}
.article_lists li .param{overflow:hidden;}
.article_lists li h5{font-weight: normal;height:30px;overflow: hidden; line-height:20px;}
.article_lists li h5 a{font-size:16px;}
.article_lists li h5 a:hover { color:#b0352f;}
.article_lists li .param .con{height:60px;line-height:20px;overflow:hidden;padding-bottom:5px;text-indent:2em; color:#999;text-align:justify; text-justify:inter-ideograph;}
.article_lists li .param .tags a{margin-right:5px;}
.article_lists li:hover .param .con{color:#666;}


.tea_news_right { float:right; width:280px;}
/*new_search*/
.new_search { margin:15px 15px 10px;border: 2px solid #c3625d;height:30px;}
.new_search input {width: 164px; float:left;
    height: 30px; padding-left:5px;
    line-height: 30px;
    color: #bbb;
    outline: 0;
    border:1px;
    background: 0 0;}
.new_search button { float:right; width:60px; text-align:center; height:30px; line-height:30px; background:#b0352f; border:0; color:#fff;}
/*author*/
.author { padding:10px;}
.author a{ text-align:center; display:inline; float:left; width:85px; margin-top:20px;}
.author a img { width:60px; height:60px; border-radius:50%;}

.author_left { width:200px; float:left;}
.author_left h1 { margin:20px 14px 0; width:172px; border-bottom:2px #b0352f solid; letter-spacing:3px;}
.author_left h1 span { font-size:14px; color:#999; font-weight:normal; margin-left:5px;letter-spacing:0px;}
.author_head { text-align:center; width:172px; font-size:16px; background:#f5f5f5; padding:20px 0; margin:0 auto;}
.author_head img{ width:100px; height:100px; border-radius:50%; margin-bottom:10px;}
.author_head b{ color:#fff; background:#b0352f; text-align:center; padding:2px 15px; border-radius:2px;}
.author_head p { font-size:14px; margin-top:15px; padding:10px; text-align:left !important; }

.teanew_ranking{ overflow:hidden;background-color:#fff;padding-bottom:5px;clear:both; margin-bottom:20px;}
.c_tit1 {line-height: 20px;	overflow: hidden; margin: 12px 0 7px;	width:276px; border-left:4px #b0352f solid;}
.c_tit1 .fl{font-size: 16px; color:#444;position: relative; padding-left:10px;}
.c_tit1 .fl em{font-size:14px;}
.c_tit1 a.more { float: right; padding-right: 10px;}
.c_tit1 .fl em {font-size: 12px;color:#999;}
.c_tit1 .fr a{margin-right:10px;}
.teanew_ranking .con {background: url("rand_num10.png")/*tpa=http://www.tea7.com/images/rand_num10.png*/ no-repeat 10px 8px;clear: both;overflow: hidden;padding: 0 0 5px 30px;width:250px;float:left;}
.teanew_ranking .con li{overflow:hidden;width:245px;line-height:29px;height:29px;float:left;}
.teanew_ranking .con li a.fl{font-size:14px;padding-left:10px;width:170px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.teanew_ranking .con li .fr{color:#999;padding-right:10px;width:35px;overflow:hidden;text-align:right;}
.teanew_ranking .con li .fr em{color:#de5406;}

.teanew_ranking .con2 {clear: both;overflow: hidden;padding: 0 0 5px 10px;width:260px;float:left;}
.teanew_ranking .con2 li{overflow:hidden;width:255px;line-height:29px;height:29px;float:left;}
.teanew_ranking .con2 li a{font-size:14px;padding-left:10px;width:200px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap; display:block;box-sizing: border-box;}
.teanew_ranking .con2 li .fr{color:#999;padding-right:10px;width:35px;overflow:hidden;text-align:right;}
.teanew_ranking .con2 li .fr em{color:#de5406;}
.teanew_ranking .con2 li span{ float:left; margin-top:6px; margin-right:0px;padding:0 5px; height:18px; line-height:18px; background:#edc900; border-radius:3px; }

.new_tj { padding:20px; border-top:20px #f5f5f5 solid;}
.new_tj dl {}
.new_tj dl dt{ font-size:16px; margin-bottom:10px; padding-bottom:10px; border-bottom:1px #f0f0f0 solid;}
.new_tj dl dd a{ overflow: hidden; margin-bottom:5px; text-overflow: ellipsis;font-size:14px; width: 30%; margin-right: 3%;white-space: nowrap;height:24px; line-height:24px; display:inline-block;}
.new_tj dl dd a:hover{ color:#b0352f;}

.hot_re { padding:20px 20px 10px;}
.hot_re a { margin-right:10px;}

.hotlink { padding:10px 15px;}
.hotlink a { margin:0 15px 10px 0; text-decoration:none; position:relative;}
.hotlink a:hover { color:#b0352f;}
.hotlink a:before{content: ""; position: absolute; width: 100%; height: 2px; bottom: 0; left: 0; background-color: #b0352f; visibility: hidden; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.1s ease-in-out 0s; transition: all 0.1s ease-in-out 0s;}
.hotlink a:hover:before{visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1);}


/*===========*/
.tea_mqz {overflow:hidden;background-color:#fff;clear:both; margin-bottom:20px;}
.tea_mqz .list{ margin:0 10px; padding:10px 0px 10px 0px; position:relative;overflow:hidden; border-bottom:1px solid #eeeeee;}
.tea_mqz .list:last-child { border-bottom:0px;}
.tea_mqz .list .img{float:left;padding-right:10px;}
.tea_mqz .list .img,.tea_mqz .list .img img{width:100px;height:100px;overflow:hidden;}
.tea_mqz .list h5{font-weight:normal;height:38px;font-size:14px;}
.tea_mqz .list h5 a{color:#444;font-size:14px;}
.tea_mqz .list h5 a:hover{color:#c0501f;}
.tea_mqz .list .param p{line-height:22px;/*color:#999;*/overflow:hidden;}
.tea_mqz .list .param p.main_sold{height:22px;overflow:hidden;}
.tea_mqz .list h5 a{color: #333}
.tea_mqz .list .param{margin-top: 5px; position:absolute; bottom:6px; left:110px; color:#b0352f;}
.tea_mqz .list .param p{font-size: 14px;}
.tea_mqz .list .param p span em{font-size: 22px;}
.tea_mqz .list .param p del { color:#999; margin-left:10px;}
.tea_mqz .list span.sales { position:absolute; bottom:40px; color:#999;}



/*cat list comments*/
.cl_comments .cl_comments_t { padding-bottom:10px; height:30px; line-height:30px;}
.cl_comments_t h1{ float:left;}
.cl_comments_t span { float:right;}
.cl_comments_t span .tab-T-3{width:66px; margin-top:10px;}
.cl_comments_t span .tab-T-3 li{width:12px;height:12px;font-size:0;background-color:#dfdfdf;float:left;margin-left:10px;cursor:pointer;display:inline;}
.cl_comments_t span .tab-T-3 li.cur{background-color:#b0352f;}
.cl_rowE { height:408px; width:1200px; overflow:hidden; background:#fff;border-bottom: 1px solid #f0f0f0;}
.cl_rowE .warp-pic-list li{float:left;display:inline;}
.cl_rowE .warp-pic-list .img_wrap{display:block;font-size:0;overflow:hidden;}
.cl_rowE .warp-pic-list .text-area{background-color:#fff;line-height:24px;}
.cl_rowE .warp-pic-list{position:relative;width:1200px;height:408px;overflow:hidden;}
.cl_rowE .count li{margin:4px 6px 10px 6.5px;width:190px;height:370px; padding:19px;}
.cl_rowE .count a img { width: 180px; height:180px;}
.cl_rowE .count li .text-area{ height:110px;}
.cl_rowE .count li .text-area em { color:#b0352f;}
.cl_rowE .count li .text-area p{line-height:20px; color:#999;}
.cl_rowE .count li .text-area span { color:#b0352f; font-size:14px; width:180px;line-height:20px;height:20px; display:block;}
.cl_rowE .count .p-num{font-family:"Tahoma";font-weight:bold;}
.cl_rowE .icon{background:url("newcomments_icon.png")/*tpa=http://www.tea7.com/images/newcomments_icon.png*/ no-repeat 0 0;}
.cl_rowE .warp-pic-list > a{display:block;height:55px;position:absolute;width:35px; top:100px;z-index:200;cursor:pointer;transition: all .3s;opacity:0;}
.cl_rowE .warp-pic-list:hover > a {opacity:1;}
.cl_rowE .warp-pic-list:hover a.cl_comments_prev{ width:35px; height:55px; display:block; background-position:0 -88px; left:0;}
.cl_rowE .warp-pic-list:hover a.cl_comments_prev:hover{background-position:0 -144px; opacity:1;}
.cl_rowE .warp-pic-list:hover a.cl_comments_next{ width:35px; height:55px; display:block; background-position:0 -200px;right:0;}
.cl_rowE .warp-pic-list:hover a.cl_comments_next:hover{background-position:0 -256px; opacity:1;}
.cl_rowE .warp-pic-list .ping_star, .cl_rowE .warp-pic-list .ping_star i { background: url("star-small.png")/*tpa=http://tea7.com/images/star-small.png*/  repeat-x; display: inline-block; height: 12px;}
.cl_rowE .warp-pic-list .ping_star { width: 66px; overflow: hidden; text-align: left;}
.cl_rowE .warp-pic-list .ping_star i { width: 0; overflow: hidden; background-position: 0 -21px; vertical-align: top; }

























































































